[project]
name = "assigment1"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "matplotlib>=3.10.7",
    "numpy>=2.3.4",
    "pytest>=9.0.1",
    "scipy>=1.16.3",
    "seaborn>=0.13.2",
]
