name: CI

on:
  push:
    branches: ["preassignment2/lib"]
  pull_request:
    branches: ["preassignment2/lib"]

permissions:
  actions: read
  contents: read

env:
  POETRY_VERSION: "2.2.1"
  PYTHON_VERSION: "3.12"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        working-directory: assignment2_preentrega/lib

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      
      - name: Install Zig
        uses: mlugg/setup-zig@v1
        with:
          version: 0.13.0

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        id: setup-python
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Poetry via pipx
        run: pipx install poetry==${{ env.POETRY_VERSION }} --python python


      - name: Configure Poetry
        run: poetry config virtualenvs.in-project true

      - name: Poetry git plugin
        run: poetry self add poetry-git-version-plugin

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: assignment2_preentrega/lib/.venv
          key: venv-${{ matrix.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('assignment2_preentrega/lib/poetry.lock') }}

      - name: Poetry Install
        run: poetry install -n -v

      - name: Poetry Build
        run: poetry build -v